@using MindTheGap.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mind The Gap</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .keyimg {
            display: block;
            max-width: 200%;
            width: auto;
            height: auto;
        }
    </style>
</head>
<body>

    @if (ViewBag.Title != "Login")
    {
        <div class="container">

            <div class="row">
                <div class="col-3">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content/images/MindTheAppLogo.png")" class="keyimg" />
                    </a>
                </div>
                <div class="col-6">
                </div>
                <div class="col-3"  style="padding-top: 24px">
                    @if (Session["User"] is User)
                    {
                        <a href="@Url.Action("Logout", "Login")">
                            <div class="btn btn-outline-info">
                                Logout
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Login")">
                            <div class="btn btn-outline-info">
                                Login
                            </div>
                        </a>
                    }
                </div>
            </div>

        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>