@model MindTheGap.Models.LeaderboardByTrainModel

@{
    ViewBag.Title = "Leader Board";
}

<h2 class="text-center">Leader Board</h2>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div>@ViewBag.ErrorMessage</div>
}
else
{
    <div class="text-right text-muted" style="margin-top: 35px;">@Model.ComputedAt.ToString("dd MMM yyyy HH:mm")</div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Rank</th>
                <th scope="col">User</th>
                <th scope="col">Strike Rate</th>
            </tr>
        </thead>
        @foreach (var leader in Model.Leaders)
                {
            <tr style='@(leader.IsCurrentUser ? "background-color: lightgreen;" : "")'>
                <td>@leader.Rank</td>
                <td>@leader.UserName</td>
                <td>@leader.CorrectPercentage</td>
            </tr>
        }
    </table>
}
