@model MindTheGap.Models.LeaderboardByTrainModel

@{
    ViewBag.Title = "Leader Board";
}

<h2>Leader Board</h2>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div>@ViewBag.ErrorMessage</div>
}
else
{
    <div>Updated At: @Model.ComputedAt.ToString("dd MMM yyyy HH:mm")</div>
    <div class="container">
        <div class="row">
            <div class="col-4">Rank</div>
            <div class="col-4">User</div>
            <div class="col-4">Strike Rate</div>
        </div>
        @foreach (var leader in Model.Leaders)
        {
            <div class='row @(leader.IsCurrentUser ? "bg-success" : "")'>
                <div class="col-4">@leader.Rank</div>
                <div class="col-4">@leader.UserName</div>
                <div class="col-2">@leader.CorrectPercentage</div>
            </div>
        }
    </div>
}